{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BYR3D | Your Project</title>
    <link rel="stylesheet" href="{% static 'css/createpage.css' %}">
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
    <script type="module" src="{% static 'js/three.js-master/build/three.module.js' %}"></script>
</head>

<body>
    <canvas id="particleCanvas"></canvas>
    <div class="container">
        <div class="main">
            <div class="navbar">
                <div class="left">
                    <img src="{% static 'images/logo.png' %}" style="height: 10vh; width: auto" />
                </div>
                <div class="right">
                    <button class="undo-redo" id="undo-btn">&#10226;</button>
                    <button class="undo-redo" id="redo-btn">&#10227;</button>
                    <button class="nav-button" id="notification">
                        <img src="{% static 'images/notification.png' %}" />
                    </button>
                    <button class="nav-button" id="profile-img"><img src="{{ profile.profile_picture.url}}" alt=""></button>
                {% if user.is_authenticated %}
                    <div class="popup" id="profile">
                        <div class="pop-content">
                            <button id="close-profile">&#10006;</button>
                            <div class="profile-img">
                                {% if profile.profile_picture %}
                                    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" />
                                {% else %}
                                    <img src="{% static 'images/default-profile.jpg' %}" alt="Default Profile Picture" />
                                {% endif %}
                            </div>
                            <div class="profile-details">
                                <p style="font-size: 1.5rem;">{{ user.username }}</p>
                                <p id="about-user">{{ profile.bio }}</p>
                                <form method="POST" action="{% url 'getStarted' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_type" value="logout">
                                    <button id="logout-btn" class="button" style="width: 14vw; margin-top: 5vh; bottom: 2vh;">Log Out</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                    <button class="button" id="save-btn">Save</button>
                </div>
            </div>
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar-content">

                        <button class="button" id="layout-btn">Layouts</button>
                        <div class="dropdown-content" id="layout-dropdown" data-dropdown="layout">
                            Choose your room dimensions<br>
                            <div class="input-row" style="flex-direction: row; margin-bottom:5px;">
                                <input type="number" id="room-length" placeholder="Length" min="1" required> x
                                <input type="number" id="room-breadth" placeholder="Breadth" min="1" required>
                            </div>
                            Templates
                            <div class="templates">
                                <button class="room-template-btn" id="standard">Standard bedroom (12ft x 10ft)</button>
                                <button class="room-template-btn" id="master">Master bedroom (16ft x 14ft)</button>
                                <button class="room-template-btn" id="living">Living room (20ft x 15ft)</button>
                            </div>
                            <button class="button" id="create-btn" style="width: 7vw; height: 6vh;">Create</button>
                        </div>

                        <button class="button" id="import-btn" data-dropdown="furniture">Import Furnitures</button>
                        <div class="dropdown-content" id="furniture-dropdown">
                            <button class="furniture-icons"><img src="{% static "images/chair1.png" %}"></button>
                            <button class="furniture-icons"><img src="{% static "images/chair2.png" %}"></button>
                            <button class="furniture-icons"><img src="{% static "images/bed.png" %}"></button>
                            <button class="furniture-icons"><img src="{% static "images/wardrobe.png" %}"></button>
                            <button class="furniture-icons"><img src="{% static "images/lamp.png" %}"></button>
                            <button class="furniture-icons"><img src="{% static "images/carpet1.png" %}"></button>
                            <button class="furniture-icons"><img src="{% static "images/carpet2.png" %}"></button>
                        </div>

                        <button class="button" id="color-btn">Walls and Floor</button>
                        <div class="dropdown-content" id="color-dropdown" style="gap: 8px;">
                            <label for="wall-color">Choose your wall color</label>
                            <input type="color" id="wall-color" style="width: 8vw;" value="#e7cfb4">
                            <label for="floor-color">Choose your floor color</label>
                            <input type="color" id="floor-color" style="width: 8vw;" value="#998970">
                        </div>

                        <button class="button" id="grid-btn" data-dropdown="grid">Toggle Grid</button>
                        <div class="dropdown-content" id="grid-dropdown"
                            style="flex-direction: row; justify-content: space-between;">
                            <span id="grid-status">Turn off the grid</span>
                            <label class="switch">
                                <input type="checkbox" id="grid-toggle" checked>
                                <span class="slider"></span>
                            </label>
                        </div>

                        <button class="button" id="clear-btn">Clear Layout</button>

                        <button class="button" id="help-btn">Help</button>

                    </div>
                    <button id="sidebar-btn" style="width: 3vw;">◀</button>
                </div>
                <div class="scroll-content" id="scroll-content">
                    <canvas id="createCanvas"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="{% static 'js/createCanvas.js' %}"></script>
    <script type="module" src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/createpage.js' %}"></script>
    <script src="{% static "js/profile.js" %}"></script>
</body>

</html>