{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BYR3D | Your Project</title>
    <link rel="stylesheet" href="{% static 'css/createpage.css' %}">
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
    <link rel="stylesheet" href="{% static "css/alertdialogs.css" %}">

    <script type="module" src="{% static 'js/three.js-master/build/three.module.js' %}"></script>
</head>

<body>
    <canvas id="particleCanvas"></canvas>
    <div class="container">
        <div class="main">
            <div class="navbar">

                <div class="error-container">
                    <div class="error-title">&#9888; Error</div>
                    <div class="error-content"></div>
                </div>

                <div class="confirm-container">
                    <div class="confirm-title">&#9888; Are you sure?</div>
                    <div class="confirm-content"></div>
                    <div class="confirm-btns">
                        <input type="button" id="confirmYes" value="Yes">
                        <input type="button" id="confirmCancel" value="Cancel">
                    </div>
                </div>

                <div class="help-container">
                    <div class="help-title">
                        <h1>&#128712; Help and Tips</h1>
                        <button id="close-help">&#10006;</button>
                    </div>
                    <div class="help-content">
                        <h2>Siderbar Features</h2>
                        <ol>
                            <li>Layout
                                <dl>
                                    <dt>Use this option to set the dimensions of your room. You can enter the length, and breadth of the room to create a personalized layout.</dt>
                                    <dt>Additionally, you can choose from templates for your room's layout to get started quickly.</dt>
                                </dl>
                            </li>
                            <li>Import Furnitures
                                <dl>
                                    <dt>Browse through the available furniture items and click on them to import them into your room. You can move them around, and position them as needed to customize your design.</dt>
                                    <dt>Available furniture includes items like beds, chairs, lamps, carpets, computer setup and more.</dt>
                                </dl>
                            </li>
                            <li>Walls and Floors
                                <dl>
                                    <dt>Use this option to customize the color of your walls and floor. You can choose colors to match your design preferences for a more realistic look.</dt>
                                </dl>
                            </li>
                            <li>Toggle Grid
                                <dl>
                                    <dt>Toggle the grid on the floor of the room to help you with precise placement of furniture and elements. This grid can be turned on or off based on your preference.</dt>
                                </dl>
                            </li>
                            <li>Clear Layout
                                <dl><dt>If you want to start over or remove all the current elements from the room, simply click Clear Layout. This will remove everything you’ve added to the canvas and reset the room design.</dt></dl>
                            </li>
                            <li>Help
                                <dl>Click here to open this Help Section anytime you need assistance or want to review how to use the platform's features.</dl>
                            </li>
                        </ol>
                        <h2>Navbar Features</h2>
                        <ol>
                            <li>Undo
                                <dt>Made a mistake or want to go back to the previous state? Click on Undo to revert the last action you performed.</dt>
                            </li>
                            <li>Redo
                                <dt>If you've undone an action and wish to restore it, use the Redo button to bring back the previous state.</dt>
                            </li>
                            <li>Save
                                <dt>Once you're satisfied with your design, click Save to save your current room layout. This will store your design, so you can return to it later or share it with others.</dt>
                            </li>
                        </ol>
                        <h2>General Tips</h2>
                        <ul>
                            <li>Drag and Drop
                                <dt>After importing furniture into the room, click and drag them to position them as you like. You can also rotate the furniture to fit your liking.</dt>
                            </li>
                            <li>Customizing Color
                                <dt>Don’t forget to experiment with the Walls and Floor options to create a room that truly reflects your vision!</dt>
                            </li>
                        </ul>
                        If you need further assistance or have any questions, feel free to visit this Help Section again or contact support.
                    </div>
                </div>

                <div class="left">
                    <a href="{% url 'mainpage' %}">
                        <button style="background:none;border:none;">
                            <img src="{% static 'images/logo.png' %}" style="height: 10vh; width: auto" />
                        </button>
                    </a>
                </div>
                <div class="right">
                    <button class="undo-redo" id="undo-btn">&#10226;</button>
                    <button class="undo-redo" id="redo-btn">&#10227;</button>
                    <button class="nav-button" id="notification">
                        <img src="{% static 'images/notification.png' %}" />
                    </button>
                    <button class="nav-button" id="profile-img">
                        {% if profile.profile_picture %}
                            <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" />
                        {% else %}
                            <img src="{% static 'images/default-profile.jpg' %}" alt="Default Profile Picture" />
                        {% endif %}
                    </button>
                    {% if user.is_authenticated %}
                    <div class="popup" id="profile">
                        <div class="pop-content">
                            <div id="profile-pop-content">
                                <button id="close-profile">&#10006;</button>
                                <div class="profile-img">
                                    {% if profile.profile_picture %}
                                        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" />
                                    {% else %}
                                        <img src="{% static 'images/default-profile.jpg' %}" alt="Default Profile Picture" />
                                    {% endif %}
                                </div>
                                <div class="profile-details">
                                    <p style="font-size: 1.5rem;">{{ user.username }}</p>
                                    <p id="about-user">{{ profile.bio }}</p>
                                    <form method="POST" action="{% url 'getStarted' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_type" value="logout">
                                        <button id="logout-btn" class="button" style="width: 14vw; margin-top: 5vh; bottom: 2vh;">Log Out</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                    <button class="button" id="save-btn">Save</button>
                    <div class="popup" id="save-popup">
                    <button id="close-save">&#10006;</button>
                        <div class="save-content">
                            <h1>Save your changes to this project?</h1>
                            <label for="proj-name">Project Name</label>
                            <input type="text" id="proj-name" placeholder="Enter project name" required>
                            <p>Saved at <i><b>"My Projects"</b></i></p>
                            <div class="save-options">
                                <button class="button" id="save">Save</button>
                                <button class="button" id="no-save">Don't Save</button>
                                <button class="button" id="save-cancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar-content">

                        <button class="button" id="layout-btn">Layouts</button>
                        <div class="dropdown-content" id="layout-dropdown" data-dropdown="layout">
                            Choose your room dimensions<br>
                            <div class="input-row" style="flex-direction: row; margin-bottom:5px;">
                                <input type="number" id="room-length" placeholder="Length" min="1" required> x
                                <input type="number" id="room-breadth" placeholder="Breadth" min="1" required>
                            </div>
                            Templates
                            <div class="templates">
                                <button class="room-template-btn" id="standard">Standard bedroom (12ft x 10ft)</button>
                                <button class="room-template-btn" id="master">Master bedroom (16ft x 14ft)</button>
                                <button class="room-template-btn" id="living">Living room (20ft x 15ft)</button>
                            </div>
                            <button class="button" id="create-btn" style="width: 7vw; height: 6vh;">Create</button>
                        </div>

                        <button class="button" id="import-btn" data-dropdown="furniture">Import Furnitures</button>
                        <div class="dropdown-content" id="furniture-dropdown">
                            <button class="furniture-icons" data-name="Modern Chair" data-dimensions="2ft x 2ft x 3ft">
                                <img src="{% static 'images/chair1.png' %}"></button>
                            <button class="furniture-icons" data-name="Office Chair" data-dimensions="2ft x 2ft x 3.5ft">
                                <img src="{% static 'images/chair2.png' %}"></button>
                            <button class="furniture-icons" data-name="Double Bed" data-dimensions="6.5ft x 5ft x 3ft">
                                <img src="{% static 'images/bed.png' %}"></button>
                            <button class="furniture-icons" data-name="Standing Lamp" data-dimensions="1.5ft x 1.5ft x 5ft">
                                <img src="{% static 'images/lamp.png' %}"></button>
                            <button class="furniture-icons" data-name="Double Wardrobe" data-dimensions="5ft x 2ft x 6.5ft">
                                <img src="{% static 'images/wardrobe.png' %}"></button>
                            <button class="furniture-icons" data-name="Single Wardrobe" data-dimensions="3ft x 2ft x 6ft">
                                <img src="{% static 'images/wardrobe2.png' %}"></button>
                            <button class="furniture-icons" data-name="Small Carpet" data-dimensions="5ft x 3ft">
                                <img src="{% static 'images/carpet1.png' %}"></button>
                            <button class="furniture-icons" data-name="Large Carpet" data-dimensions="8ft x 5ft">
                                <img src="{% static 'images/carpet2.png' %}"></button>
                            <button class="furniture-icons" data-name="2-Seater Sofa" data-dimensions="5ft x 3ft x 3ft">
                                <img src="{% static 'images/sofa1.png' %}"></button>
                            <button class="furniture-icons" data-name="3-Seater Sofa" data-dimensions="7ft x 3ft x 3ft">
                                <img src="{% static 'images/sofa2.png' %}"></button>
                            <button class="furniture-icons" data-name="Computer Setup" data-dimensions="3ft x 2ft x 5ft">
                                <img src="{% static 'images/pc1.png' %}"></button>
                            <button class="furniture-icons" data-name="Display Table" data-dimensions="4ft x 2ft x 1.5ft">
                                <img src="{% static 'images/table1.png' %}"></button>
                            <button class="furniture-icons" data-name="Study Table" data-dimensions="6ft x 3ft x 3ft">
                                <img src="{% static 'images/table2.png' %}"></button>
                        </div>

                        <button class="button" id="color-btn">Walls and Floor</button>
                        <div class="dropdown-content" id="color-dropdown" style="gap: 8px;">
                            <label for="wall-color">Choose your wall color</label>
                            <input type="color" id="wall-color" style="width: 8vw;" value="#e7cfb4">
                            <label for="floor-color">Choose your floor color</label>
                            <input type="color" id="floor-color" style="width: 8vw;" value="#998970">
                        </div>

                        <button class="button" id="grid-btn" data-dropdown="grid">Toggle Grid</button>
                        <div class="dropdown-content" id="grid-dropdown"
                            style="flex-direction: row; justify-content: space-between;">
                            <span id="grid-status">Turn off the grid</span>
                            <label class="switch">
                                <input type="checkbox" id="grid-toggle" checked>
                                <span class="slider"></span>
                            </label>
                        </div>

                        <button class="button" id="clear-btn">Clear Layout</button>

                        <button class="button" id="help-btn">Help</button>

                    </div>
                    <button id="sidebar-btn" style="width: 3vw;">◀</button>
                </div>
                <div class="scroll-content" id="scroll-content">
                    <canvas id="createCanvas"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="{% static 'js/createCanvas.js' %}"></script>
    <script type="module" src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/createpage.js' %}"></script>
    <script src="{% static "js/profile.js" %}"></script>
</body>

</html>