<section class="page problem">
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/sections/section2.css' %}">
    <div class="second-main">
        <div class="second-main-body">
            <div class="spinning-cube">
                <canvas id="spinCubeCanvas"></canvas>
            </div>
            <div class="think-outside-box">
                <div class="thinkoutside-title">
                    Think outside the square space
                </div>
                <div class="what-to-do">
                    ---- What can you do?
                </div>
                <div class="can-do">
                    You can create your own vision for your room and bring it to life.
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="{% static 'js/sections/section2.js' %}"></script>
</section>