{% load static %}
<link rel="stylesheet" href="{% static 'css/sections/section4.css' %}">

<section class="page getstarted">
    <div class="section4-main">
        <div class="section4-contents">
            <div class="getStarted">
                <div class="joinToday">
                    Join now and<br>start creating your space.
                </div>
                <button class="button-18">Get Started</button>
            </div>
            <div class="forModelCanvas">
                <canvas id="modelCanvas"></canvas>
            </div>
        </div>
            <div class="byred-details">
                <img src="{% static 'images/logo.png' %}">
                <div class="find-us">
                    <div class="text">
                        Find us at
                    </div>
                    <div class="find-details">
                        byr3dbusiness@mail.com<br>Kathmandu, Nepal<br><p>BYR3D. All Rights Reserved.</p>    
                    </div>
                </div>
            </div>
   
    </div>
</section>
