#settings-container {
    width: 100%;
    height: 100%;
}
.title-manage {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: white;
}
.settings-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;   
    gap: 20px;
}
.hello {
    border-bottom: 1px solid white;
}
.customize, .security {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    width: 450px;
    height: 390px;
    min-width: 45%;
    color: white;
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(2px);
    background: linear-gradient(rgba(255, 255, 255, 0.103), rgba(255, 0, 0, 0.123));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.customize h2 {
    font-size: 1.3rem;
}
.customize textarea {
    width: 90%;
}
.security h2 {
    font-size: 1.3rem;
}
.security input[type="password"] {
    height: 30px;
    padding: 6px;
}
.security ::placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profilepic-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-picture-box {
    border: 1px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    justify-content: center;
    justify-self: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
.profile-picture-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.customize textarea {
    resize: none;
}
.hello {
    display: flex;
    justify-content: center;
}
#submit {
    align-self: center;
}